# Ignore everything by default
/*

# But allow these folders
!/mp1_skeleton/
!/mp2-1_skeleton/
!/mp2_2
!/.gitignore

# Inside mp1_skeleton, ignore build artifacts
/mp1_skeleton/build/
/mp1_skeleton/*.o
/mp1_skeleton/*.exe
/mp1_skeleton/*.out
